body {
  background-image: url("miner high resolution.png");
  width: 400px;
  margin: auto;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 50px;
  color: blue;
  font-weight: bold;
}

h3 {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

