body {
  background-image: url("miner high resolution.png");
  width: 400px;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 50px;
  color: blue;
  font-weight: bold;
}

h3 {
  font-size: 40px;
  color: black;
  font-weight: bold;
}

a {
  font-size: 20px;
  color: purple;
  font-weight: bold;
}

div {
  border: 5px outset red;
  background-color: white;
  padding: 10px;
  margin: auto;
}


